<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>manager</title>
</head>
<body>

<div class="container">

    <div class="py-5 text-center">
        <h2>매니저 정보</h2>
    </div>

    <!-- 추가 -->
    <h2 th:if="${param.status}" th:text="'저장 완료'"></h2>

    <div>
        <label for="name">헬스장 이름</label>
        <input type="text" th:value="${gym.name}" class="form-control" placeholder="이름을 입력하세요" readonly>
    </div>
    <div>
        <label for="tel">전화번호</label>
        <input type="text" th:value="${gym.tel}" class="form-control" placeholder="전화번호를 입력하세요" readonly>
    </div>
    <div>
        <label for="address">주소</label>
        <input type="text" th:value="${gym.address}" class="form-control" placeholder="주소를 입력하세요" readonly>
    </div>

    <div>
        <label for="openAt">시작 시간</label>
        <input type="time" th:value="${gym.businessTime.openAt}" class="form-control" readonly>
    </div>

    <div>
        <label for="closeAt">종료 시간</label>
        <input type="time" th:value="${gym.businessTime.closeAt}" class="form-control" readonly>
    </div>

    <div>
        <div class="form-check">
            <label for="allDay" class="form-check-label">24시간 영업</label>
            <input type="checkbox" th:field="*{gym.businessTime.allDay}" th:value="${gym.businessTime.allDay}" class="form-check-input" disabled>
        </div>
    </div>

    <hr class="my-4">

    <div class="row">
        <div class="col">
            <button class="w-100 btn btn-primary btn-lg"
                    onclick="location.href='editGymForm.html'"
                    th:onclick="|location.href='@{/v1/admin/gyms/{gymId}/edit(gymId=${gym.id})}'|"
                    type="button">헬스장 수정</button>
        </div>
        <div class="col">
            <button class="w-100 btn btn-primary btn-lg"
                    th:onclick="|location.href='@{/v1/admin/gyms/{gymId}/delete(gymId=${gym.id})}'|"
                    type="button">헬스장 삭제</button>
        </div>
        <div class="col">
            <button class="w-100 btn btn-secondary btn-lg"
                    onclick="location.href='gyms.html'"
                    th:onclick="|location.href='@{/v1/admin/gyms}'|"
                    type="button">목록으로</button>
        </div>
    </div>

</div> <!-- /container -->
</body>
</html>